
* {
    margin: 0;
    padding: 0;
}
body {
    background: url(../img/bg-noise.png) repeat scroll 0 0 transparent;
    color: #363A3F;
    font: 11px/18px Arial,sans-serif;
}
.container {
    background-color: #FFFFFF;
    border: 1px solid #E5E3DF;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(196, 196, 186, 0.6);
    margin: 45px auto 0;
    overflow: visible;
    width: 980px;
}
p {
	font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}
a, a:visited {
    color: #48ade7;
    outline: medium none;
    text-decoration: none;
}
a:hover {
    color: #479ADF;
    text-decoration: underline;
}
a.button {
    background-color: #479ADF;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}
a.button:hover {
    background-color: #6DB1E9;
}
h3 {
    color: #363A3F;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -1px;
    margin: 0 0 15px;
}
h4 {
    color: #363A3F;
    font-size: 14px;
	clear: both;
}
.header {
    background:url(../img/pix.jpg) bottom left repeat-x  #e9e9e9;
    padding: 0px 0px 4px;
    width: 100%;
}

.header .header-inner{
    background:#e9e9e9;
    padding:30px 0px 25px;
    width:1035px;
	margin:0px auto;
}


.header h1 {
    float: left;
    margin: 0 0 25px 0px;
}
.header h1 a {
    background: url("../booktheme/img/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 75px;
    text-indent: -9999px;
    width: 272px;
}
.header ul.social {
    float: right;
    margin: 5px 15px 0 0;
    overflow: hidden;
}
.header ul.social li {
    float: left;
    margin: 0 8px 0 0;
}
.header ul.social li a {
    background: url("../booktheme/img/icon-social.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 18px;
    text-indent: -9999px;
    width: 20px;
}
.header ul.social li a.fb {
    background-position: 0 0;
}
.header ul.social li a.lin {
    background-position: 0 -21px;
}
.header ul.social li a.twit {
    background-position: 0 -42px;
}
.header form {
    float: right;
    margin: 0;
    overflow: hidden;
}
.header input[type="text"] {
    background: -moz-linear-gradient(0% 0 90deg, #FFFFFF, #FAFAFA) repeat scroll 0 0 transparent;
    border-color: #BFBDBF #E8E7E8 -moz-use-text-color;
    border-radius: 2px 2px 2px 2px;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-shadow: 0 0 1px #EAE9EA inset;
    color: #777777;
    float: left;
    font: 16px Arial,sans-serif;
    padding: 9px 11px;
    width: 152px;
}
.header input[type="submit"] {
    background:url(../img/sample-cha.jpg) top left no-repeat;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin:0px 0px 0px 4px;
    padding: 0px 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
	height:43px;
	width:320px;
}
.header input[type="submit"]:hover {
    background-color: #333;
}
.intro {
    background: url("../booktheme/img/bg-noise.png") repeat scroll 0 0 transparent;
    height: 400px;
    padding: 40px 0 0 70px;
    position: relative;
}
.intro img.book {
    float: right;
    margin: 0 45px 0 0;
    position: relative;
    top: -55px;
}
.intro h2 {
    float: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 30px;
    margin: 0 0 25px;
    width: 430px;
}
.intro p {
    float: left;
    margin: 0 0 15px;
    width: 430px;
}
.price {
    background: url("../booktheme/img/bg-pattern-noise.png") repeat-x scroll 0 0 transparent;
    margin: 0 0 -30px;
    min-height: 120px;
    padding: 40px 0 0 40px;
}
.price a.button {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 1px #E9E9E1;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 53px;
    letter-spacing: -1px;
    line-height: 53px;
    margin: 0 26px 0 0;
    overflow: hidden;
    padding: 0 0 0 60px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    width: 185px;
}
.price a.button:hover {
    text-decoration: none;
}
.price a.button span {
    float: right;
    font-size: 24px;
    line-height: 50px;
    margin: 0 15px 0 0;
}
.price a.button.paper {
    background: url("../booktheme/img/btn-gray.png") no-repeat scroll 6px 0 transparent;
}
.price a.button.pdf {
    background: url("../booktheme/img/icon-pdf.png") no-repeat scroll 6px 0 #479ADF;
}
.testimonials {
    background: url("../booktheme/img/bg-noise.png") repeat scroll 0 0 transparent;
    padding: 25px 0 20px;
    position: relative;
}
.testimonials:before {
    background: url("../booktheme/img/bg-pattern-white.png") repeat-x scroll 0 0 transparent;
    content: "";
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%;
}
.testimonials a.buttons {
    background: url("../booktheme/img/icon-arrows-small.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 27px;
    position: absolute;
    text-indent: -9999px;
    width: 27px;
    z-index: 1000;
}
.testimonials a.buttons.prev {
    background-position: 0 0;
    left: 20px;
    top: 30px;
}
.testimonials a.buttons.prev:hover {
    background-position: 0 -58px;
}
.testimonials a.buttons.next {
    background-position: 0 -29px;
    right: 20px;
    top: 30px;
}
.testimonials a.buttons.next:hover {
    background-position: 0 -87px;
}
.testimonials .carousel {
    height: 630px;
    overflow: hidden;
    padding: 0 60px;
    position: relative;
    width: 800px;
}
.testimonials .carousel .viewport {
    float: left;
    height: 630px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 855px;
}
.testimonials .carousel .viewport div.overview {
    left: 0;
    position: absolute;
    top: 0;
}
.testimonials .quote {
    clear: both;
    margin: 0 40px 0 0;
    text-align: center;
    width: 800px;
}
.testimonials .quote blockquote {
    color: #767676;
    font-size: 200%;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
}
.testimonials .quote cite {
    display: block;
    font-size: 200%;
    font-style: normal;
    margin: -8px 0 0;
}
.features {
    background: url("../booktheme/img/bg-pattern-noise.png") repeat-x scroll 0 0 transparent;
    padding: 40px 0 0 75px;
}
.features-div {
    float: left;
    margin: 0 78px 25px 0;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);
    width: 223px;
}
.features-div li {
    list-style-type: none;
}
.features div h4 {
    background: url("../booktheme/img/icon-features.png") no-repeat scroll 0 0 transparent;
    margin: 0 0 8px;
    padding: 0 0 0 22px;
}
.features h4.epub {
    background-position: 0 1px;
}
.features h4.graph {
    background-position: 0 -21px;
}
.features h4.paper {
    background-position: 0 -43px;
}
.features h4.word {
    background-position: 0 -106px;
}
.features h4.ebook {
    background-position: 0 -66px;
}
.features h4.hq {
    background-position: 0 -87px;
}
.samples {
    background: url("../booktheme/img/bg-noise.png") repeat scroll 0 0 transparent;
    padding: 25px 0 30px;
    position: relative;
}
.samples:before {
    background: url("../booktheme/img/bg-pattern-white.png") repeat-x scroll 0 0 transparent;
    content: "";
    display: block;
    height: 8px;
    left: 0;
    position: absolute;
    top: -8px;
    width: 100%;
}
.samples .carousel {
    height: 190px;
    overflow: hidden;
    position: relative;
}
.samples .carousel .viewport {
    float: left;
    height: 190px;
    margin: 0 75px;
    overflow: hidden;
    position: relative;
    width: 830px;
}
.samples .carousel .viewport ul.overview {
    left: 0;
    padding: 3px;
    position: absolute;
    top: 0;
}
.samples ul li {
    float: left;
    height: 188px;
    margin: 0 43px 0 0;
    position: relative;
    width: 174px;
}
.samples ul li a {
    background-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    display: block;
    padding: 7px 26px;
}
.samples ul li a.zoom {
    background: url("../booktheme/img/icon-zoom.png") repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    bottom: 0;
    box-shadow: none;
    display: block;
    height: 25px;
    left: 73px;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
    width: 28px;
}
.samples a.buttons {
    background: url("../booktheme/img/icon-arrows.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 43px;
    position: absolute;
    text-indent: -9999px;
    width: 43px;
}
.samples a.buttons.prev {
    background-position: 0 0;
    left: 17px;
    top: 65px;
}
.samples a.buttons.prev:hover {
    background-position: 0 -101px;
}
.samples a.buttons.next {
    background-position: 0 -50px;
    right: 17px;
    top: 65px;
}
.samples a.buttons.next:hover {
    background-position: 0 -151px;
}
.final {
    background: url("../booktheme/img/bg-pattern-noise.png") repeat-x scroll 0 0 transparent;
    font-size: 200%;
    padding: 50px 50px 30px;
}
.final a.button {
    display: block;
    float: right;
    font-size: 90%;
    height: 30px;
    width: 150px;
}
.final h2 {
    padding-bottom: 10px;
    padding-top: 10px;
}
.footer {
    margin: 27px auto;
    width: 976px;
}
.footer p {
    float: left;
    width: 50%;
	font-size:14px;
}
.footer p a {
    color: #86847D;
}
.footer p a:hover {
    color: #333;
	text-decoration:underline;
}
.footer p.last {
    float: right;
    text-align: right;
}
.hide {
    display: none;
}
.group:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
div#capture-form {
    margin-top: -30px;
}
div#capture-form div#form-header {
    background: url("../booktheme/img/form-header.png") no-repeat scroll 0 0 transparent;
    height: 93px;
    padding-top: 30px;
    position: relative;
    text-align: center;
    width: 348px;
    z-index: 10;
}
div#capture-form div#form-header h4 {
    color: #FFFFFF;
}
div#capture-form div#form-body {
    background: none repeat scroll 0 0 #E8E8E8;
    height: 140px;
    margin-left: 4px;
    margin-top: -35px;
    padding: 20px;
    position: relative;
    width: 300px;
    z-index: 0;
}
div#capture-form div#form-body td {
    height: 40px;
}
div#capture-form div#form-footer {
    background: none repeat scroll 0 0 #E8E8E8;
    height: 50px;
    margin-left: 4px;
    text-align: center;
    width: 340px;
}
div#form-footer .form-button {
    background:url(../img/sample-cha.jpg) no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 27px;
    margin-left: -70px;
    width: 191px;
}
div#blog-wrap {
    padding: 25px;
}
div#blog-left {
    float: right;
    width: 650px;
}
div#blog-right {
    float: left;
    width: 240px;
	font-family:Arial, Helvetica, sans-serif;
}
div#blog-right h4{
	background:#f3f3f3;
	font-size:20px;
	padding:6px 0px 6px 8px;
	}


h1.post-title {
    font-size: 28px;
    margin-bottom: 7px;
	font-family:Arial, Helvetica, sans-serif;
}
div.post-wrap div.post-details {
    color: #86847D;
}
div.post-wrap {
    background: url("../booktheme/img/bg-pattern-white.png") repeat-x scroll 0 0 transparent;
    padding-top: 20px;
}
div.post-wrap:first-child {
    background: none repeat scroll 0 0 transparent;
    padding-top: 0;
}
div.post-content {
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	color:#666;
	font-weight:normal;
}
div#blog-right li.widget {
    border-top: 1px dotted #479ADF;
    list-style-type: none;
    padding: 15px 0;
}
div#blog-right li.widget:first-child {
    border-top: medium none;
}
div#blog-right li.widget ul {
    margin-left: 15px;
}

.cat-listing {
	margin-bottom: 5px;
	padding: 5px 7px 1px 5px;
}

.categories {
	padding-bottom: 5px;
}

.date-listing {
	padding-top: 10px;
}

.wp-post-image {
    width: 120px;
}
.purchase {
    font-size: 140%;
}
.premium {
    font-size: medium;
    padding-left: 190px;
}
.digital {
    font-size: medium;
}


.alignright{width:auto;}
.alignright ul{list-style:none; margin:0px; padding:0px; background:#fcfcfc;}
.alignright ul li{width:auto; margin:0px; padding:0px; background:url(../img/arrow.png) 5px 9px no-repeat; padding:0px 0px 0px 0px;}
.alignright ul li a{text-decoration:none; font-size:15px; color:#666; margin:0px; padding:7px 0px 7px 22px; display:block; border-bottom:#dcdcdc dotted 1px;}
.alignright ul li a:hover{text-decoration:none; font-size:15px; color:#48ade7; margin:0px; background:#fff;}
.clr{clear:both;}
.post-content h2{font-size:26px;}
img{border:none; outline:none;}


.mc_embed_signup{width:645px; float:left;margin-bottom:25px;}
.mc_embed_signup h3{font-size:16px; font-family: Arial,Helvetica,sans-serif; font-weight:normal; color:#666; letter-spacing:normal; margin-bottom: 5px;}
.mc_embed_signup form{margin-left:20px;}
.mc_embed_signup form input{width:300px;padding:10px 5px; border:1px solid #c6c6c6; float:left; color:#666;}
.button{padding:8px 10px;display:inline-block; font-weight:bold;cursor:pointer;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;-o-border-radius:5px; color:#fff; margin-top:5px;
background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(top, #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
.button:hover{padding:8px 10px;display:inline-block; cursor:pointer; border:1px solid #06Fl;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;-o-border-radius:5px; color:#fff; margin-top:5px;
background: #87e0fd; /* Old browsers */
background: -moz-linear-gradient(top, #05abe0 0%, #53cbf1 40%, #87e0fd 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05abe0), color-stop(40%,#53cbf1), color-stop(100%,#87e0fd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #05abe0 0%,#53cbf1 40%,#87e0fd 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #05abe0 0%,#53cbf1 40%,#87e0fd 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #05abe0 0%,#53cbf1 40%,#87e0fd 100%); /* IE10+ */
background: linear-gradient(to bottom, #05abe0 0%,#53cbf1 40%,#87e0fd 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=0 ); /* IE6-9 */
}

blockquote {padding-left: 30px; padding-right: 10px; margin-bottom: 10px; font-style: italic; }















.alignleft {
	float: left;
	width: auto;
	margin: 5px 15px 15px 0;
}

.alignright {
	float: right;
	width: auto;
	margin: 5px 15px 15px 0;
}

.spaced {
	margin-bottom: 30px;
	padding-bottom: 20px;
	margin-top: 10px;
	padding-top: 5px;
	clear: right;
	display: block;
}

.button-caption {
	padding-bottom: 3px;
}

.spaced input {
	max-width: 250px;
}

.spaced input[type="text"] {
    background: -moz-linear-gradient(0% 0 90deg, #FFFFFF, #FAFAFA) repeat scroll 0 0 transparent;
    border-color: #BFBDBF #E8E7E8 -moz-use-text-color;
    border-radius: 2px 2px 2px 2px;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    box-shadow: 0 0 1px #EAE9EA inset;
    color: #777777;
    float: left;
    font: 16px Arial,sans-serif;
    padding: 9px 11px;
}
.spaced input[type="submit"] {
    background:url(../img/sample-cha.jpg) top left no-repeat;
    border: medium none;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: normal;
    margin:0px 0px 0px 4px;
    padding: 0px 16px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
	height:43px;
	min-width:320px;
	clear: right;
}

/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup form {width:330px; display:block; text-align:left; padding:0px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:none; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:none;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}     
#mc_embed_signup .clear {clear:none; display:inline;}

#mc_embed_signup label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup input.email {background:url(../img/email-bg.png) 0px 0px no-repeat; display:block; padding:14px 10px; margin:0 0px 10px 0; text-indent:5px; width:94%; min-width: 326px;}
#mc_embed_signup input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}


/* MailChimp Form Embed Code - Slim - 08/17/2011 */
#mc_embed_signup2 form {display:block; text-align:left; padding:0px 0 10px 3%}
#mc_embed_signup2 h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup2 input {border:none; -webkit-appearance:none;}
#mc_embed_signup2 input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup2 input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup2 input:focus {border-color:none;}
#mc_embed_signup2 .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding:0; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup2 .button:hover {background-color:#777;}
#mc_embed_signup2 .small-meta {font-size: 11px;}
#mc_embed_signup2 .nowrap {white-space:nowrap;}     
#mc_embed_signup2 .clear {clear:none; display:inline;}

#mc_embed_signup2 label {display:block; font-size:16px; padding-bottom:10px; font-weight:bold;}
#mc_embed_signup2 input.email {background:url(../img/email-bg.png) 0px 0px no-repeat; display:block; padding:14px 10px; margin:0 0px 10px 0; text-indent:5px; width:94%; min-width:326px;}
#mc_embed_signup2 input.button {display:block; width:35%; margin:0 0 10px 0; min-width:90px;}

#mc_embed_signup2 div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup2 div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup2 #mce-error-response {display:none;}
#mc_embed_signup2 #mce-success-response {color:#529214; display:none;}
#mc_embed_signup2 label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

